.navbar {
    background-image: url(../IMG/fondo.jpg);
    background-size: 400px 150%;
    
    
}
h2 {
    text-decoration: overline;
    margin-top: 5%;
    padding-bottom: 3%;
}
.card-img-top {
    object-fit: cover;
    height: 250px;
    
}

h1 {
    margin-top: 4%;
    font-weight: bold;
}
.display-4 {
    font-weight: 600;
}
.formulario {
    background-color: #363636;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2%;
    margin-bottom: 3%;
    width: 50%;
}
.col-form-label {
    text-align: center;
}
button, input {
    text-align: center;
}

button, input::placeholder {
    text-align: center;
}

select {
    text-align: center;
}

.footer {
    background-image: url(../IMG/fondo.jpg);
    padding: 5%;
    color: #F7F9F9;
    background-size: auto;
    background-position-y: 4%;
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

.imagenes {
    height: 400px;
    width: 100%;
}
.targetas {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .4);
    top: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.targetas-2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .4);
    top: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 11;
}

.targeta {
    background-color: #131313;
    color: #ffffff;
    padding-top: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0;
    padding-bottom: 5%;
    margin-top: 5%;
    width: 70%;
    height: 80%;

}
.imagen-grande {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}
.card1, .card2, .card3 {
    cursor: pointer;
}
.nav-link:hover {
    text-shadow: 0 0 5px red, 0 0 5px red, 0 0 5px red, 0 0 5px red;
}
.historia-pub {
    display: none;
    padding-top: 10%;
    z-index: 1;
}


.historia {
    font-style: italic;
    font-weight: bold;
    color: #e2e7e7;
    font-size: medium;
}

.titulo {
    color: #e2e7e7;
    font-weight: 600;
   
}


.sobre-nosotros {
    margin: 0 auto;
}
.historia-container {
    background-color: #131313;
    display: grid;
    padding: 1% 1%;
    width: 60%;
    height: 500px;
    border-radius: 2%;
} 

.imagen-historia {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 10%;
    margin-top: 0;
    padding-top: 1%;
    border-radius: 2%;
}
#imagen2 {
    margin-top: 10px;
    padding-top: 1%;
    
}
.carousel-control-next, .carousel-control-prev {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}


@media (min-width: 577px) and (max-width: 992px) {
    .formulario {
        width: 80%;
        
    }
    .imagenes {
        height: 350px;
        
    }
     .targeta {
        background-color: #131313;
        color: #ffffff;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-bottom: 5%;
        margin-top: 10%;
        width: 100%;
        height: 70%;
    
    }
    .imagen-grande {
        height: 80%;
        width: 90%;
        margin: 0 auto;
    }
    .historia-container {
        
        padding: 1% 1%;
        width: 110%;
        height: 500px;
       
    } 
    .carousel-control-next, .carousel-control-prev {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    
    
}
@media (max-width: 800px) {
    #comuniquemonos {
        display: none;
    }
    #reserva {
        display: none;
    }
    .historia-pub {
        
        padding-top: 15%;
        
    }
    
   
}
     


@media (max-width: 576px) {
    .formulario {
        width: 90%;
        
    }
    .imagenes {
        height: 300px;
        
    }
    .targeta {
        background-color: #131313;
        color: #ffffff;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-bottom: 5%;
        margin-top: 10%;
        width: 100%;
        height: 70%;
    
    }
    .imagen-grande {
        height: 80%;
        width: 90%;
        margin: 0 auto;
    }
    .historia-pub {
        
        padding-top: 30%;
        
    }
    .historia-container {
        
        padding: 1% 1%;
        width: 100%;
        height: 500px;
       
    } 
    .carousel-control-next, .carousel-control-prev {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
    }
    .historia {
        font-style: italic;
        font-weight: bold;
        color: #e2e7e7;
        font-size: small;
    }
    
    
    
}
